.blockRow {
    padding:0!important;
    border-bottom:0!important;
    .row {
        margin: 0;
        border-top:none;
    }
}
.row, .blockRow {
    width: 100%;
    margin: px2rem2(10) 0;
    padding:px2rem2(13);
    background-color: #fff;
    @include border($borderColor, 0, 1px 0 1px 0, 1);
    @include font-dpr(16);

    .right {
        float: right;
        color: #cecece;
    }

    i {
        @include font-dpr(16);
        vertical-align: middle;
    }

    textarea {
        width:100%;
        @include font-dpr(16);
        min-height: px2rem2(64);
        border:none;
        &:focus{ outline: 0; }
    }
    input {
        float: right;
        width:px2rem2(200);
        height: px2rem2(21);
        border: none;
        //background-color: #eee;
        text-align: right;
        @include font-dpr(16);
        &:focus{ outline: 0; }
    }

    &.expense-row {
        padding: 0;
        background-color: transparent;
        //border:none;
        @include border(#fff, 0, 0, 0);

        .detail-list {
            border-bottom: none;
            margin: 0;

            .del {
                color: #F17474;
                padding-right: 0.26667rem;
            }
        }
    }
    .out-title {
        display: block;
        color: #9a9a9a;
        padding-left: px2rem2(13);
        @include font-dpr(12);
        margin-bottom: px2rem2(10);
    }
    .inner-title {
        display: block;
        margin-bottom: px2rem2(10);
        .note{
            color: #b4b4b4;
            @include font-dpr(14);
            padding-left:px2rem2(10);
        }
    }
    .add-expense-row {
        text-align: center;
        color: $colorRed;
        margin-top: 0;
    }

    .muti-choose {
        display: inline-block;
        @include font-dpr(12);
        border:1px #bbb solid;
        color: #999;
        padding: px2rem2(5) px2rem2(12);
        border-radius: px2rem2(20);
        margin: px2rem2(5) px2rem2(10) px2rem2(5) 0;

        &.choosed {
            background-color: $colorRed;
            border-color: $colorRed;
            color: #fff;
        }
    }

    .photos {
        border-top:1px #cecece solid;
        .note {
            display: inline-block;
            padding: px2rem2(10) 0;
            @include font-dpr(11);
        }
        .img-item {
            position: relative;
            width:px2rem2(80);
            height:px2rem2(80);
        }
        .uploading, .del {
            position: absolute;
            right:0;
            top:0;
        }
        .uploading {
            width:100%;
            height:100%;
            text-align: center;
            line-height: px2rem2(80);
            color: #fff;
            background-color: rgba(0,0,0,.5);
        }
        .upload-list, .img-item {
            display: inline-block;
            vertical-align: middle;
        }
        .img-item {
            margin: 0 px2rem2(10) px2rem2(10) 0;
            .del {
                color: $colorRed;
                width:px2rem2(16);
                height:px2rem2(16);
            }
        }
        .add-img {
            border: 1px #cdcdcd solid;
            text-align: center;
            line-height: px2rem2(78);
            i {
                @include font-dpr(30);
                color: #cdcdcd;
            }
        }
    }
}

.add-item {
    display: inline-block;
    color: $colorRed;
    border:1px $colorRed solid;
    line-height: px2rem2(43);
    vertical-align: top;
    //margin-left: px2rem2(10);
}
.submit {
    width:px2rem2(320);
    @include font-dpr(16);
    padding:px2rem2(13);
    background-color: $colorRed;
    text-align: center;
    border-radius: px2rem2(100);
    color: #fff;
    margin: px2rem2(40) auto;
}
.footer-btn {
    width:100%;
    position: fixed!important;
    bottom:0;
    @include border($borderColor, 0, 1px 0 0 0, 2);
    background-color: #fff;
    z-index: 10;
    a {
        display: inline-block;
        width:50%;
        @include font-dpr(16);
        color:#666;
        padding: px2rem2(13) 0;
        text-align: center;
    }
    &.btn1 a{
        width:100%;
        color: #999;
    }
    .close {
        border-left:1px #cecece solid;
    }
}

.avatar-box, .span {
    display: inline-block;
    vertical-align: middle;
    i {
        vertical-align: px2rem(27);
        padding-left: px2rem2(10);
        color: #999;
    }
}
.span {
    padding-right: px2rem2(10);
}
.avatar-box{
    margin-bottom: px2rem2(10);
    .userName {
        width:px2rem2(45);
        padding-top: px2rem2(5);
        text-align: center;
        @include font-dpr(14);
        @extend %overText;
    }
}
.cnr {
    .avatar-box {
        margin:0 px2rem2(10) px2rem2(10) 0;
    }
}

.dkr {
    &.hide{ display: none; }
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #fff;
    z-index: 11;
    padding:px2rem2(15) 0 px2rem2(15) px2rem2(15);
    .title {
        @include font-dpr(16);
        //border-bottom:1px $borderColor solid;
        padding-bottom: px2rem2(10);
    }
    .avatar {
        display: inline-block;
        vertical-align: middle;
    }
    .dkr-list {
        padding: px2rem2(10) 0;
        border-bottom:1px $borderColor solid;
        .name {
            @include font-dpr(16);
            padding-left: px2rem2(10);
        }
        .note {
            padding-left: px2rem2(10);
            @include font-dpr(14);
            color: #999;
        }
        .iconfont {
            @include font-dpr(20);
            padding-right: px2rem2(10);
            vertical-align: middle;
            color: #999999;
        }
    }
}